<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timeso</title>
    <!--
    <link rel="manifest" href="manifest.json?v=1.1">
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="img/icons-180.png">
    <!-- iPhone Xs Max, 11 Pro Max (1242px x 2688px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1242x2688.png">
    <!-- iPhone Xr, 11 (828px x 1792px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="img/apple-launch-828x1792.png">
    <!-- iPhone X, Xs, 11 Pro (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1125x2436.png">
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1242x2208.png">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="img/apple-launch-750x1334.png">
    <meta name="apple-mobile-web-app-title" content="Timeso">
</head>

<body>

    <div id="app">
        <div class="changelog" id="changelog">
            <h1>Timeso has<br>been updated!</h1>
            <div class="info" id="info">
                <p>- Added favorites, search and settings<br>- Dark mode is now optional<br>-fixed flying tab bar and icons</p>
                <button onclick="close_update()">get started</button>
            </div>
        </div>

        <div class="tab-controller">
            <div class="bar">
                <div class="tab active" onclick="changeTab(this, 'tab-favorites')">
                    <span class="icon favorites"></span>
                    <h1>Favorites</h1>
                </div>
                <div class="tab" onclick="changeTab(this, 'tab-search')">
                    <span class="icon search"></span>
                    <h1>Search</h1>
                </div>
                <div class="tab" onclick="changeTab(this, 'tab-settings')">
                    <span class="icon more"></span>
                    <h1>Settings</h1>
                </div>
            </div>

            <div class="page favorites show" id="tab-favorites">
                <div class="navbar">
                    <p class="nav-title">Favorites</p>
                </div>

                <div class="list" style="height: calc(100% - 44px);">
                    <ul>
                        <li onclick="open_times('43000312301')">
                            <span class="destination">Clive Road (to Stourbridge)</span>
                        </li>
                        <li onclick="open_times('43000312304')">
                            <span class="destination">Clive Road (to Birmingham)</span>
                            <span class="breaker"></span>
                        </li>
                        <li onclick="open_times('43000822511')">
                            <span class="destination">Stourbridge Interchange (Stand H)</span>
                            <span class="breaker"></span>
                        </li>
                        <li onclick="open_times('43000803901')">
                            <span class="destination">High Street (X10 => 9 swap stop)</span>
                            <span class="breaker"></span>
                        </li>
                        <li onclick="open_times('43000835807')">
                            <span class="destination">Merry Hill (Stand G)</span>
                            <span class="breaker"></span>
                        </li>
                        <li onclick="open_times('43000313401')">
                            <span class="destination">Quinton Church (to Birmingham)</span>
                            <span class="breaker"></span>
                        </li>
                        <li onclick="open_times('43000313402')">
                            <span class="destination">Quinton Church (to Stourbridge)</span>
                            <span class="breaker"></span>
                        </li>
                        <li>
                            <span class="destination">hmu if you want more stops</span>
                            <span class="breaker"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="page search" id="tab-search">
                <div class="navbar">
                    <p class="nav-title">Search</p>
                </div>
            </div>

            <div class="page settings" id="tab-settings">
                <div class="navbar">
                    <p class="nav-title">Settings</p>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <span class="destination">Dark mode</span>
                            <div class="switch">
                                <label class="form-switch">
                                    <input id="dark_mode_switch" type="checkbox" onclick="toggleDarkMode(this)">
                                    <i></i>
                                </label>
                            </div>
                        </li>
                        <li onclick="show_update()">
                            <span class="destination">View changelog</span>
                            <span class="breaker"></span>
                        </li>
                        <li>
                            <span class="destination">Version</span>
                            <span class="data" style="color: grey">{{version}}</span>
                            <span class="breaker"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="times" id="times" style="z-index: 100">
            <div class="navbar">
                <div onclick="close_times()" class="navbar-back-button">
                    <span class="back_arrow"></span>
                    <p class="nav-btn back">
                        Back
                    </p>
                </div>
                <span onclick="get_times()" class="refresh"></span>

                <p class="nav-title" v-if="stationName">{{ stationName }}</p>
                <p class="nav-title" v-else></p>
            </div>

            <div class="list">
                <ul>
                    <li v-for="prediction in predictions">
                        <span class="bus">{{ prediction['bus'] }}</span>
                        <span class="destination">{{ prediction['destination'] }}</span>
                        <span class="live" v-if="prediction['live']">{{ prediction['timeToArrivalReadable'] }}</span>
                        <span class="time" v-else>{{ prediction['timeToArrivalReadable'] }}</span>
                        <span class="breaker"></span>
                    </li>
                </ul>
            </div>

            <div class="toolbar">
                <span class="button favorite"></span>
            </div>
        </div>

        <div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
                <span></span>
                <h1>Please wait...</h1>
            </div>
        </div>
	    <div class="md-overlay"></div>

    </div>

</body>

<link rel="stylesheet" type="text/css" href="css/style.css?v=1.7">
<script src="js/anime.min.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/script.js?v=1.7"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</html>
