<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timeso</title>
    <!--
    <link rel="manifest" href="manifest.json?v=1.1">
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="img/icons-180.png">
    <!-- iPhone Xs Max, 11 Pro Max (1242px x 2688px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1242x2688.png">
    <!-- iPhone Xr, 11 (828px x 1792px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="img/apple-launch-828x1792.png">
    <!-- iPhone X, Xs, 11 Pro (1125px x 2436px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1125x2436.png">
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="img/apple-launch-1242x2208.png">
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="img/apple-launch-750x1334.png">
    <meta name="apple-mobile-web-app-title" content="Timeso">
</head>

<body>

    <div id="app">
        <div class="changelog" id="changelog">
            <h1>An update is<br>coming soon!</h1>
            <div class="info" id="info">
                <button onclick="close_update()">continue</button>
            </div>
        </div>
        <div class="navbar">

            <span class="icon back_arrow"></span>
            <button class="nav-btn back">
                Back
            </button>

            <span onclick="get_times()" class="refresh"></span>

            <p class="header" v-if="stationName">{{ stationName }}</p>
            <p class="header" v-else></p>

        </div>

        <div class="content">
            <ul>
                <li v-for="prediction in predictions">
                    <span class="bus">{{ prediction['bus'] }}</span>
                    <span class="destination">{{ prediction['destination'] }}</span>
                    <span class="live" v-if="prediction['live']">{{ prediction['timeToArrivalReadable'] }}</span>
                    <span class="time" v-else>{{ prediction['timeToArrivalReadable'] }}</span>
                    <span class="breaker"></span>
                </li>
            </ul>
        </div>

        <div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
                <span></span>
                <h1>Please wait...</h1>
            </div>
        </div>
	    <div class="md-overlay"></div>

        <div class="tab-bar">
            <span class="favorite"></span>
        </div>
    </div>

</body>

<link rel="stylesheet" type="text/css" href="css/style.css?v=1.4">
<script src="js/anime.min.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/script.js?v=1.4"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</html>
