<!DOCTYPE html>
<html lang="en">

<body>
    <div id="app">
        <div class="navbar">
            <span class="logo"></span>
        </div>

        <ul>
            <li v-for="prediction in predictions">
                <span class="bus">{{ prediction['bus'] }}</span>
                <span class="destination">{{ prediction['destination'] }}</span>
                <span class="time">{{ prediction['timeToArrivalReadable'] }}</span>
                <span class="live" v-if="prediction['live']">Live</span>
            </li>
        </ul>
    </div>
</body>

<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/script.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Timeso</title>

</html>
